xml/schema_rdv.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.w3schools.com"
xmlns="http://www.w3schools.com"
elementFormDefault="qualified">

<xs:element name="liste">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="avocat" type="xs:string"/>
      <xs:element name="client" type="xs:string"/>
      <xs:element name="lieux" type="xs:string"/>
      <xs:element name="date" type="xs:string"/>
       <xs:element name="heure" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>